<!DOCTYPE html>
<!--suppress HtmlUnknownTarget, JSUnresolvedFunction, JSUnresolvedVariable -->
<html lang="en">

{% import 'macro/control_panel/common.twig' as control_panel %}

{{ control_panel.iframe_start() }}
<div class="p-3">
    {{ control_panel.card_start("Registered Account Types") }}
    <div id="accountTypesGraph" style="min-height: 80vh"></div>
    {{ control_panel.card_end() }}
</div>

{{ control_panel.iframe_middle() }}

<script>
    am4core.useTheme(am4themes_animated);

    let chart = am4core.create("accountTypesGraph", am4charts.PieChart3D);
    chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

    chart.data = [
        {
            accountType: "Admins-",
            accounts: {{ admin ? admin : 1 }}
        },
        {
            accountType: "Medical Centers",
            accounts: {{ med_center ? med_center : 0 }}
        },
        {
            accountType: "Doctors",
            accounts: {{ doctor ? doctor : 0 }}
        },
        {
            accountType: "Patients",
            accounts: {{ patient ? patient : 0 }}
        },
        {
            accountType: "Testers",
            accounts: {{ tester ? tester : 0 }}
        }
    ];

    chart.innerRadius = am4core.percent(40);
    chart.depth = 30;

    chart.legend = new am4charts.Legend();

    let series = chart.series.push(new am4charts.PieSeries3D());
    series.dataFields.value = "accounts";
    series.dataFields.category = "accountType";
    series.slices.template.cornerRadius = 5;
    series.colors.step = 3;
</script>

{{ control_panel.iframe_end() }}
</html>