<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

{% import 'macro/control_panel/common.htm.twig' as control_panel %}
{% import 'macro/form_fields.htm.twig' as form_fields %}

{{ control_panel.iframe_start() }}

<div class="container pt-2">

    {{ control_panel.card_start("Add Prescription") }}
    <form method="post" action="{{ site }}/control/doctor/create/search">
        <div class='row px-4 my-2'>
            <input class='form-control form-control-lg hvr-shadow' placeholder='Patient ID/NIC' name="patient" type='text'>
        </div>
        <div class="text-right">
            <button class="btn btn-dark" type="submit">
                <span class="fa fa-check"></span>&nbsp;
                Select
            </button>
        </div>
    </form>

    {% if (error != null) %}
        <div class="alert alert-danger text-center my-3" role="alert">
            {{ error }}
        </div>
    {% endif %}


    {{ control_panel.card_end() }}

</div>

{{ control_panel.iframe_middle() }}

{% if (prescription_id != null) %}
    {% include 'modals/prescription_saved.htm.twig' %}
{% endif %}

{{ control_panel.iframe_end() }}
</html>