<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

{% import 'macro/control_panel/common.twig' as control_panel %}
{% import 'macro/form_fields.twig' as form_fields %}

{{ control_panel.iframe_start() }}

<div class="container pt-2">

    {{ control_panel.card_start("No Prescriptions") }}
        <h3>No available Prescriptions</h3>
    {{ control_panel.card_end() }}

</div>

{{ control_panel.iframe_middle() }}

{% if (account_password != null) %}
    {% include 'modals/created_account.twig' %}
{% endif %}
<script src="{{ site }}/js/search.js"></script>
{{ control_panel.iframe_end() }}
</html>