<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

{% import 'macro/form_fields.twig' as form_fields %}

<head>
    {% include("part/header.twig") %}
    <title>MediKit</title>
</head>

<body>
<div class="bg-image"></div>

{% include("part/navbar.twig") %}
{% import 'macro/form_fields.twig' as form_fields %}

<main class="mt-sm-5 pt-5">
    <div class="container d-flex justify-content-center">
        <section class="wow fadeIn">
            <div class="jumbotron px-4" style="max-width: 900px;">
                <h2 class="card-title h2">Change Password: {{ account_id }}</h2>
                <p class="card-text">
                    Please enter previous password and new password.
                </p>
                <hr/>

                {% if (error != null) %}
                    <div class="alert alert-danger text-center mb-3" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <form method="post" action="{{ site }}/changepsw" class="pt-2 mt-3 text-right">

                    {{ form_fields.input('prev',  'Previous Password', 'password') }}
                    {{ form_fields.input('new','New Password', 'password') }}
                    {{ form_fields.input('retype', 'Retype New Password', 'password') }}
                    <hr/>

                    <button type="submit" class="btn btn-red waves-effect">
                        Change Password
                    </button>
                    <a href="{{ site }}" class="btn btn-outline-green waves-effect">Cancel</a>
                </form>

            </div>
        </section>

    </div>
</main>

{% include "part/footer.twig" %}
{% include "part/scripts.twig" %}
<script src="{{ site }}/js/changepsw.js"></script>
</body>

</html>