<!doctype html>
<!--suppress HtmlUnknownTarget -->

{% import 'macro/control_panel/common.htm.twig' as control_panel %}

<html lang="en">
{{ control_panel.page_start('Medical Center', site) }}

<header>
    {{ control_panel.sidebar_start(account_id, account_type, site) }}
    {{ control_panel.sidebar_button("Dashboard", "dashboard", "fa-chart-pie", false) }}
    {{ control_panel.sidebar_button("Search Patient", "search/patient", "fas fa-search", false) }}
    {{ control_panel.sidebar_button("Create Prescription", "create/prescription", "fa-user-plus", true) }}
    {{ control_panel.sidebar_end() }}
</header>

<main>
    <div class="container-fluid p-0">
        {{ control_panel.navbar() }}
        <iframe src="{{ site }}/control/doctor/create/prescription" style="border:none; min-height: 100vh;"
                class="embed-responsive m-0 p-0" id="content-iframe"></iframe>
    </div>
</main>

{{ control_panel.page_end(site) }}
</html>