<!doctype html>
<!--suppress HtmlUnknownTarget -->

{% import 'macro/control_panel/common.twig' as control_panel %}

<html lang="en">

{{ control_panel.page_start('Admin', site) }}

<header>
    {{ control_panel.sidebar_start(account_id, account_type, site) }}
    {{ control_panel.sidebar_button("Dashboard", "dashboard", "fa-chart-pie", true) }}
    {{ control_panel.sidebar_button("Verify Accounts", "verify", "fa-check", false) }}
    {{ control_panel.sidebar_button("Search Doctors", "search/doctor", "fas fa-search", false) }}
    {{ control_panel.sidebar_button("Search Patients", "search/patient", "fas fa-search", false) }}
    {{ control_panel.sidebar_end() }}
</header>

<main>
    <div class="container-fluid p-0">
        {{ control_panel.navbar() }}
        <iframe src="{{ site }}/control/admin/dashboard" style="border:none; min-height: 100vh;"
                class="embed-responsive m-0 p-0" id="content-iframe"></iframe>
    </div>
</main>

{{ control_panel.page_end(site) }}

</html>