<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

{% import 'macro/control_panel/common.htm.twig' as control_panel %}
{% import 'macro/form_fields.htm.twig' as form_fields %}
<head>
    {% include("part/header.htm.twig") %}
    <link href="{{ site }}/css/timeline.css" rel="stylesheet">
    <title>MediKit</title>
</head>

<body class="bg-gradient">
<div class="bg-image"></div>

{% include("part/navbar.htm.twig") %}


    {% if prescriptions|length == 0 %}
    <div class="container card p-5 mt-4">
        <div class="row content">
            <div class="col-sm-5">
                <div class="text-right">
                    <img src="https://cdn4.iconfinder.com/data/icons/refresh_cl/256/System/Box_Empty.png" class="img-fluid p-3"
                         alt="Error Image"/>
                </div>
            </div>
            <div class="col-sm-7">
                <h1 class="red-text font-weight-bold">No Prescriptions</h1>
                <h5><strong>This patient does not have any medications added.</strong></h5>
                <p></p>
                <a href="{{ site }}" class="btn btn-sm btn-outline-dark">Home Page</a>
            </div>
        </div>
    </div>
    {% else %}
<div class="container card p-5 mt-4 elegant-color-dark text-white text-center">
        <h2>{{ patient }} Patient User Timeline</h2>
</div>
    {% endif %}

<div style="min-height: 100vh">
    {% if prescriptions|length > 0 %}
        <div class="timeline">
            <div style="height: 100px"></div>
            {% set left=true %}
            {% for prescription in prescriptions %}
                <div class="timeline-container {{ left ? 'left' : 'right' }}">
                    {{ control_panel.card_start(prescription['date']|date('F j, Y'),  "ignore-triangle content danger") }}
                    {% for medication in prescription['medications'] %}
                        {{ control_panel.card_start("Medication ID: " ~ medication['id']) }}
                        <div class="d-flex justify-content-between">
                            <h4>{{ medication['name'] }} </h4>
                            <a href="https://www.google.com" target="_blank">
                                <div class="blue-text pb-2" style="display: inline;">
                                    <h4><i class="fas fa-external-link-alt ml-2"></i></h4>
                                </div>
                            </a>
                        </div>
                        <h5>{{ medication['dose'] }} | {{ medication['frequency'] }} |
                            {{ medication['time'] }}.</h5>
                        <hr/>
                        <h6 class="text-center">
                            {{ medication['comment'] == ''? 'No Comment' : medication['comment'] }}
                        </h6>
                        {{ control_panel.card_end() }}
                    {% endfor %}
                    <div class="mt-3 d-flex justify-content-between">
                        <small class="text-muted">Doctor ID:<a
                                    href="{{ site }}/showprofile?user={{ prescription['doctor'] }}"
                                    target="_blank"> {{ prescription['doctor'] }} </a></small>
                        <small class="text-muted">Prescription ID: {{ prescription['id'] }} </small>
                    </div>
                    {{ control_panel.card_end() }}
                </div>

                {% set left=not left %}
            {% endfor %}
        </div>
    {% endif %}
</div>


{% include "part/footer.htm.twig" %}
{% include "part/scripts.htm.twig" %}

</body>

</html>