<!DOCTYPE html>
<html lang="en">

<head>
    {% include("part/header.htm.twig") %}
    {% include("part/nojs.htm.twig") %}
    <link href="{{ site }}/css/profile.css" rel="stylesheet">
    <title>MediKit</title>
</head>



<body>

{% include "part/navbar.htm.twig" with {"page": "Profile"} %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9">



            <!-- User profile -->
            <div class="panel panel-primary class">
                <div class="panel-heading">
                    <h4 class="panel-title">User profile</h4>
                </div>
                <div class="panel-body">
                    <div class="profile__avatar">
                        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="...">
                    </div>
                    <div class="profile__header">
                        <h4>{{ context['name'] }}<small>  {{ context['account_type'] }}</small></h4>
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non nostrum odio cum repellat veniam eligendi rem cumque magnam autem delectus qui.
                        </p>
                        <p>
                            <a href="#">bootdey.com</a>
                        </p>
                    </div>
                </div>
            </div>


            <!-- User info -->
            {% if context["account_type"]=="med_center" %}
            <div class="panel panel-primary class">
                <div class="panel-heading">
                    <h4 class="panel-title">User info</h4>
                </div>
                <div class="panel-body">
                    <table class="table profile__table">
                        <tbody>
                        <tr>
                            <th><strong>Medical Center Name</strong></th>
                            <td>{{ context['name'] }}</td>
                        </tr>
                        <tr>
                            <th><strong>Phsrc ID</strong></th>
                            <td>{{ context['phsrc'] }}</td>
                        </tr>
                        <tr>
                            <th><strong>Account ID</strong></th>
                            <td>{{ context['account_id'] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}

            {% if context["account_type"]=="patient" %}
                <div class="panel panel-primary class">
                    <div class="panel-heading">
                        <h4 class="panel-title">User info</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table profile__table">
                            <tbody>
                            <tr>
                                <th><strong>Name</strong></th>
                                <td>{{ context['name'] }}</td>
                            </tr>
                            <tr>
                                <th><strong>National Identity Card Number</strong></th>
                                <td>{{ context['nic'] }}</td>
                            </tr>
                            <tr>
                                <th><strong>Account ID</strong></th>
                                <td>{{ context['account_id'] }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

            {% if context["account_type"]=="doctor" %}
                <div class="panel panel-primary class">
                    <div class="panel-heading">
                        <h4 class="panel-title">User info</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table profile__table">
                            <tbody>
                            <tr>
                                <th><strong>Full Name</strong></th>
                                <td>{{ context['full_name'] }}</td>
                            </tr>
                            <tr>
                                <th><strong>National Identity Card Number</strong></th>
                                <td>{{ context['nic'] }}</td>
                            </tr>
                            <tr>
                                <th><strong>SLMC Registration Number</strong></th>
                                <td>{{ context['slmc_id'] }}</td>
                            </tr>
                            <tr>
                                <th><strong>Doctor Category</strong></th>
                                <td>{{ context['category'] }}</td>
                            </tr>
                            <tr>
                                <th><strong>Account ID</strong></th>
                                <td>{{ context['account_id'] }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}


            <!-- Community -->
            <div class="panel panel-primary class">
                <div class="panel-heading">
                    <h4 class="panel-title">Community</h4>
                </div>
                <div class="panel-body">
                    <table class="table profile__table">
                        <tbody>
                        <tr>
                            <th><strong>Comments</strong></th>
                            <td>58584</td>
                        </tr>
                        <tr>
                            <th><strong>Member since</strong></th>
                            <td>Jan 01, 2016</td>
                        </tr>
                        <tr>
                            <th><strong>Last login</strong></th>
                            <td>1 day ago</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Latest posts -->
            <div class="panel panel-primary class">
                <div class="panel-heading">
                    <h4 class="panel-title">Latest Medical Records</h4>
                </div>
                <div class="panel-body">
                    <div class="profile__comments">
                        <div class="profile-comments__item">
                            <div class="profile-comments__controls">
                                <a href="#"><i class="fa fa-share-square-o"></i></a>
                                <a href="#"><i class="fa fa-edit"></i></a>
                                <a href="#"><i class="fa fa-trash-o"></i></a>
                            </div>
                            <div class="profile-comments__avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                            </div>
                            <div class="profile-comments__body">
                                <h5 class="profile-comments__sender">
                                    Dr. Richard Roe <small>2 hours ago</small>
                                </h5>
                                <div class="profile-comments__content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, corporis. Voluptatibus odio perspiciatis non quisquam provident, quasi eaque officia.
                                </div>
                            </div>
                        </div>
                        <div class="profile-comments__item">
                            <div class="profile-comments__controls">
                                <a href="#"><i class="fa fa-share-square-o"></i></a>
                                <a href="#"><i class="fa fa-edit"></i></a>
                                <a href="#"><i class="fa fa-trash-o"></i></a>
                            </div>
                            <div class="profile-comments__avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="...">
                            </div>
                            <div class="profile-comments__body">
                                <h5 class="profile-comments__sender">
                                    Dr. Richard Roe <small>5 hours ago</small>
                                </h5>
                                <div class="profile-comments__content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero itaque dolor laboriosam dolores magnam mollitia, voluptatibus inventore accusamus illo.
                                </div>
                            </div>
                        </div>
                        <div class="profile-comments__item">
                            <div class="profile-comments__controls">
                                <a href="#"><i class="fa fa-share-square-o"></i></a>
                                <a href="#"><i class="fa fa-edit"></i></a>
                                <a href="#"><i class="fa fa-trash-o"></i></a>
                            </div>
                            <div class="profile-comments__avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="...">
                            </div>
                            <div class="profile-comments__body">
                                <h5 class="profile-comments__sender">
                                    Dr. Richard Roe <small>1 day ago</small>
                                </h5>
                                <div class="profile-comments__content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, esse, magni aliquam quisquam modi delectus veritatis est ut culpa minus repellendus.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-3">

            <hr class="style1">

            <!-- Contact info -->
            <div class="profile__contact-info">
                <div class="profile__contact-info-item">
                    <div class="profile__contact-info-icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="profile__contact-info-body">
                        <h5 class="profile__contact-info-heading">Contact Number</h5>
                        {{ context['phone_number'] }}
                    </div>
                </div>
                <div class="profile__contact-info-item">
                    <div class="profile__contact-info-icon">
                        <i class="fa fa-envelope-square"></i>
                    </div>
                    <div class="profile__contact-info-body">
                        <h5 class="profile__contact-info-heading">E-mail address</h5>
                        <a href="mailto:admin@domain.com">{{ context['email'] }}</a>
                    </div>
                </div>
                <div class="profile__contact-info-item">
                    <div class="profile__contact-info-icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="profile__contact-info-body">
                        <h5 class="profile__contact-info-heading">Work address</h5>
                        {{ context['address'] }}
                    </div>
                </div>
                {% if context['fax'] %}
                <div class="profile__contact-info-item">
                    <div class="profile__contact-info-icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="profile__contact-info-body">
                        <h5 class="profile__contact-info-heading">Fax</h5>
                        {{ context['fax'] }}
                    </div>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>


{% include "part/footer.htm.twig" %}
{% include "part/scripts.htm.twig" %}

</body>

</html>
