<!--suppress HtmlUnknownTarget -->
<div id="loader" class="d-flex content-justify-center">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<header>
    <nav class="navbar fixed-top navbar-expand-lg bg-white scrolling-navbar">
        <div class="container">

            <!-- Logo -->
            <a class="navbar-brand pr-3" href="{{ site }}">
                <strong>MediKit</strong>
            </a>

            <!-- Expander -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
                    aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Links -->

            <div class="collapse navbar-collapse" id="navbar-content">
                {% if (page == "Home") %}
                    <ul class="navbar-nav mr-auto" id="links">

                        {% set nav_links = [["#home", 'Home'], ['#services', 'Services'], ['#team', 'Our Team']] %}

                        {% for item in nav_links %}
                            {% set href = item[0] %}
                            {% set caption = item[1] %}
                            <li class="nav-item px-1">
                                <a href="{{ href }}" class="nav-link text-dark font-weight-bold">{{ caption }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if (account_id == null) %}
                    <!-- Sign In Button -->
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        <li class="nav-item">
                            <a href="{{ site }}/login" class="nav-link btn btn-outline-dark waves-effect">
                                <i class="fas fa-user-circle"></i> &nbsp; Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ site }}/register/medi" class="nav-link btn btn-outline-dark waves-effect">
                                <i class="fas fa-hospital"></i> &nbsp; Register
                            </a>
                        </li>
                    </ul>
                {% else %}
                    {% import 'macro/common.htm.twig' as common %}
                    {{ common.profile_button(account_id, account_type, site, true) }}
                {% endif %}


            </div>

        </div>
    </nav>

    <div style="height:50px;"></div>

</header>