<!doctype html>
<!--suppress HtmlUnknownTarget -->

{% import 'macro/control_panel.htm.twig' as control_panel %}

<html lang="en">
<head>
    {% include("part/header.htm.twig") %}
    {% include("part/nojs.htm.twig") %}
    <link href="{{ site }}/css/control-panel.css" rel="stylesheet">
    <title>Admin</title>
</head>
<body class="bg-white">
<header>
    {{ control_panel.sidebar_start() }}
    {{ control_panel.sidebar_button("Dashboard", "#", "fa-chart-pie", true) }}
    {{ control_panel.sidebar_button("Verify Account", "#", "fa-check", false) }}
    {{ control_panel.sidebar_end() }}


</header>

<main>
    <div class="container-fluid p-0">
        {{ control_panel.navbar("Dashboard") }}
        <iframe src="{{ site }}/admin/dashboard"  style="border:none; height: 100vh;" class="embed-responsive"></iframe>
    </div>
</main>

{% include "part/scripts.htm.twig" %}
<script src="{{ site }}/js/control-panel.js"></script>

</body>
</html>