<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

{% import 'macro/home_utils.htm.twig' as home_utils %}

<head>
    {% include("part/header.htm.twig") %}
    {% include("part/nojs.htm.twig") %}
    <link href="{{ site }}/css/home.css" rel="stylesheet">
    <title>MediKit</title>
</head>

<body>

{% include "part/navbar.htm.twig" with {"Page": "Home"} %}

<main>
    <section style="height: 100vh; width: 100vw; margin-top: -45px;">
        <div id="mainSectionCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#mainSectionCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#mainSectionCarousel" data-slide-to="1"></li>
                <li data-target="#mainSectionCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="view">
                        <img class="d-block img-carousel"
                             src="https://wallpaperplay.com/walls/full/0/4/3/13967.jpg"
                             alt="First slide">
                        <div class="mask rgba-black-strong"></div>
                    </div>
                    {{ home_utils.carousal_caption() }}
                </div>
                <div class="carousel-item">
                    <div class="view">
                        <img class="d-block img-carousel" src="https://wallpapercave.com/wp/wp1848640.jpg"
                             alt="Second slide">
                        <div class="mask rgba-black-strong"></div>
                    </div>
                    {{ home_utils.carousal_caption() }}
                </div>
                <div class="carousel-item">
                    <div class="view">
                        <img class="d-block img-carousel"
                             src="https://images.pexels.com/photos/1282308/pexels-photo-1282308.jpeg" alt="Third slide">
                        <div class="mask rgba-black-strong"></div>
                    </div>
                    {{ home_utils.carousal_caption() }}
                </div>
            </div>
            <a class="carousel-control-prev" href="#mainSectionCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#mainSectionCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <section>
        <div class="card blue-gradient">
            <div class="text-white text-center py-4 px-2 my-3">
                <div>
                    <h2 class="card-title h1-responsive pt-3 mb-3 font-bold">
                        <strong>Want to register a Medical Center?</strong></h2>
                    <p class="mx-3 mb-3">
                        Your Health is Our Top Priority with Comprehensive, Affordable medical.
                    </p>
                    <a class="btn btn-outline-white btn-md" href="{{ site }}/register/medi"><i
                                class="fas fa-user-plus left"></i>
                        Register Now</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white" style="box-shadow: 0 16px 100px 16px #000;">
        <div class="container p-5">
            <div class="row">
                {{ home_utils.feature("fas fa-user-md", "Qualitfied Doctors",
                    "Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.", false) }}
                {{ home_utils.feature("fas fa-ambulance", "Emergency Care",
                    "Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.",true) }}
                {{ home_utils.feature("fas fa-stethoscope", "Outdoor Checkup",
                    "Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.", false) }}
                {{ home_utils.feature("fas fa-user-nurse", "24 Hours Service",
                    "Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic." ,true) }}
            </div>
        </div>
    </section>

    <section class="bg-white py-4">
        <div class="container">
            <div class="row">
                <div id="doctor-image" class="col-md-5 p-md-5 mt-5 mt-md-0 wow fadeInUp">
                </div>
                <div class="col-md-7 py-4 py-md-5 wow fadeInUp">
                    <div class="mb-5">
                        <div class="pl-md-5 ml-md-5">
                            <span>About Dr.care</span>
                            <h2 class="mb-4" style="font-size: 28px;">Medical specialty concerned with the care of
                                acutely ill hospitalized patients</h2>
                        </div>
                    </div>
                    <div class="pl-md-5 ml-md-5 mb-5">
                        <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it
                            would have been rewritten a thousand times and everything that was left from its origin
                            would be the word.</p>
                        <div class="row mt-5 pt-2">

                            {{ home_utils.feature_2("fas fa-medkit", "Primary Care",
                                "Far far away, behind the word mountains, far from the countries Vokalia.") }}
                            {{ home_utils.feature_2("fas fa-eye-dropper", "Lab Test",
                                "Far far away, behind the word mountains, far from the countries Vokalia.") }}
                            {{ home_utils.feature_2("fas fa-chart-area", "Symptom Check",
                                "Far far away, behind the word mountains, far from the countries Vokalia.") }}
                            {{ home_utils.feature_2("fas fa-heartbeat", "Heart Rate",
                                "Far far away, behind the word mountains, far from the countries Vokalia.") }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

{% include "part/footer.htm.twig" %}
{% include "part/scripts.htm.twig" %}
</body>

</html>
