<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

{% import 'macro/form_fields.htm.twig' as form_fields %}

<head>
    {% include "part/header.htm.twig" %}
    <title>Medi Center Registration</title>
</head>

<body>
<div class="bg-image"></div>

{% include "part/navbar.htm.twig" %}

<main class="mt-sm-5 pt-5">
    <div class="container">
        <section class="wow fadeIn">
            <div class="row">

                <div class="border col-lg-4 text-white text-center p-5 bg-gradient">
                    <h1 class="mb-5">
                        <strong>MediKit 0.0.1 alpha</strong>
                    </h1>
                    <h4 class="mb-5">
                        <strong>Best & free platform to mange all your medical needs</strong>
                    </h4>
                    <p class="mb-5">
                        Loved by over 500 doctors, 2000 patients & 100 medical centers.
                    </p>
                    <h3 class="mb-5">
                        <strong>Already has an account?</strong>
                    </h3>
                    <a class="btn btn-outline-white btn-lg" href="LoginPage.html.twig">
                        SIGN IN
                    </a>
                </div>

                <div class="border border-light col-lg-8 p-0 m-0">
                    <form action="" class="m-0 p-5 bg-white needs-validation" method="get" novalidate>
                        <p class="text-center h4 mb-5">MEDICAL CENTER REGISTRATION</p>

                        {{ form_fields.input_with_label('name', 'Name', 'Medical Center Name', 'text') }}
                        {{ form_fields.input_with_label('phsrc', 'Reg ID', 'PHSRC/SECTION/ID', 'text') }}
                        {{ form_fields.input_with_label('email', 'Email', 'email@website.com', 'email') }}
                        {{ form_fields.input_with_label('fax', 'Fax (Optional)', '+13235551234', 'fax', required='') }}
                        {{ form_fields.input_with_label('phonenumber', 'Phone', '0123366548', 'tel') }}
                        {{ form_fields.input_with_label('address', 'Address', 'Medical Center Address', 'text') }}
                        {{ form_fields.input_with_label('postal', 'Postal Code', 'Postal Code', 'text') }}

                        <div class="text-right">
                            <button class="btn btn-primary my-4" type="submit">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </section>

    </div>
</main>

{% include "part/footer.htm.twig" %}
{% include "part/scripts.htm.twig" %}
<script src="js/register-medcenter.js"></script>

</body>

</html>