<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

{% import 'macro/control_panel.htm.twig' as control_panel %}

{{ control_panel.iframe_start("Admin/Verify", "fa-check") }}

<div class="p-3">
    <div class="row justify-content-center">
        <div class="owl-carousel owl-theme">
            {{ control_panel.account_verify_card("medCenter1") }}
            {{ control_panel.account_verify_card("medCenter2") }}
            {{ control_panel.account_verify_card("medCenter3") }}
            {{ control_panel.account_verify_card("medCenter4") }}
            {{ control_panel.account_verify_card("medCenter5") }}
            {{ control_panel.account_verify_card("medCenter6") }}
            {{ control_panel.account_verify_card("medCenter7") }}
        </div>
    </div>

</div>
{{ control_panel.iframe_middle() }}

<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel(
            {
                loop:true,
                margin: 10,
                dots: true,
                nav:true,
                responsiveClass:true,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:2,
                        nav:false
                    },
                    1000:{
                        items:3,
                        nav:true,
                        loop:false
                    }
                }
            }
        );

    });
</script>

{{ control_panel.iframe_end() }}