<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

{% import 'macro/control_panel/common.htm.twig' as control_panel %}
{% import 'macro/form_fields.htm.twig' as form_fields %}

{{ control_panel.iframe_start() }}

<div class="container pt-2">

    {{ control_panel.card_start("Patient Registration") }}
    <form action="{{ site }}/control/med_center/register/patient" class="needs-validation p-3" method="post"
          novalidate>

        {% if (error != null) %}
            <div class="alert alert-danger text-center mb-3" role="alert">
                {{ error }}
            </div>
        {% endif %}

        {{ form_fields.input_with_label('name', 'Full Name', "Patient's Name", '', 'text',
            'Enter the name of the patient') }}
        {{ form_fields.input_with_label('nic', 'NIC (Username)', 'Patient NIC', '', 'text',
            'This will act as your username') }}
        {{ form_fields.input_with_label('email', 'Email', "Patient's Email Address", '', 'email') }}
        {{ form_fields.input_with_label('phone_number', 'Phone', 'Mobile Number', '', 'tel') }}
        {{ form_fields.input_with_label('address', 'Address', 'Medical Center Address', '', 'text') }}
        {{ form_fields.input_with_label('postal', 'Postal Code', 'Postal Code', '', 'text') }}

        <div class="text-right">
            <button class="btn btn-primary mt-4" type="submit">Register</button>
        </div>
    </form>
    {{ control_panel.card_end() }}

</div>

{{ control_panel.iframe_middle() }}

<script src="{{ site }}/js/register-patient.js"></script>
{% if (account_password != null) %}
{% include 'modals/created_account.htm.twig' %}
{% endif %}

{{ control_panel.iframe_end() }}
</html>