{% macro input(name, placeholder='', type='text') -%}
    <div class="input-group mb-4">
        <input type="{{ type }}" name="{{ name }}" id="{{ name }}" class="form-control" placeholder="{{ placeholder }}"
               required>
    </div>
{%- endmacro %}

{% macro input_with_label(name, label, placeholder, value, type, tooltip) -%}
    <div class="form-group row">
        <label for="{{ name }}" class="col-lg-3 col-form-label">{{ label }}
        </label>
        <div class="col-lg-9">
            {% if (value == '' or value == null) %}
                <input type="{{ type }}" name="{{ name }}" class="form-control" id="{{ name }}"
                       placeholder="{{ placeholder }}" {{ required }} data-html="true" data-toggle="popover"
                       data-trigger="focus"
                       data-placement="right" title="{{ tooltip }}">
            {% else %}
                <input type="{{ type }}" name="{{ name }}" class="form-control" id="{{ name }}"
                       placeholder="{{ placeholder }}" {{ required }} data-html="true" data-toggle="popover"
                       data-trigger="focus"
                       data-placement="right" title="{{ tooltip }}" value="{{ value }}">
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro check_box(name, text) -%}
    <div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="{{ name }}" name="{{ name }}">
            <label class="custom-control-label" for="{{ name }}">{{ text }}</label>
        </div>
    </div>
{%- endmacro %}

{% macro dropdown_menu(name,placeholder,feilds) -%}

    <select class="custom-select custom-select-sm" name="{{ name }}">
        <option selected value="null">{{ placeholder }}</option>
        {% for value,text in feilds -%}
            <option value="{{ value }}">{{ text }}</option>
        {%- endfor %}

    </select>

{%- endmacro %}

