{% macro input(name, placeholder='', type='text') -%}
    <div class="input-group mb-4">
        <input type="{{ type }}" name="{{ name }}" id="{{ name }}" class="form-control" placeholder="{{ placeholder }}"
               required>
    </div>
{%- endmacro %}

{% macro input_with_label(name, label, placeholder, value, type, tooltip) -%}
    <div class="form-group row">
        <label for="{{ name }}" class="col-lg-3 col-form-label">{{ label }}
        </label>
        <div class="col-lg-9">
            {% if (value == '' or value == null) %}
                <input type="{{ type }}" name="{{ name }}" class="form-control" id="{{ name }}"
                       placeholder="{{ placeholder }}" {{ required }} data-html="true" data-toggle="popover"
                       data-trigger="focus"
                       data-placement="right" title="{{ tooltip }}">
            {% else %}
                <input type="{{ type }}" name="{{ name }}" class="form-control" id="{{ name }}"
                       placeholder="{{ placeholder }}" {{ required }} data-html="true" data-toggle="popover"
                       data-trigger="focus"
                       data-placement="right" title="{{ tooltip }}" value="{{ value }}">
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro input_with_icon(name, icon, placeholder, value, type, tooltip) -%}
    <div class="md-form">
        <i class="fas {{ icon }} prefix mr-3"></i>
        {% if (value == '' or value == null) %}
            <input type="{{ type }}" name="{{ name }}" class="form-control" id="{{ name }}"
                   {{ required }} data-html="true" data-toggle="popover"
                   data-trigger="focus"
                   data-placement="right" title="{{ tooltip }}">
        {% else %}
            <input type="{{ type }}" name="{{ name }}" class="form-control" id="{{ name }}"
                  {{ required }} data-html="true" data-toggle="popover"
                   data-trigger="focus"
                   data-placement="right" title="{{ tooltip }}" value="{{ value }}">
        {% endif %}
        <label for="{{ name }}">{{ placeholder }}</label>
    </div>
{%- endmacro %}

{% macro check_box(name, text) -%}
    <div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="{{ name }}" name="{{ name }}">
            <label class="custom-control-label" for="{{ name }}">{{ text }}</label>
        </div>
    </div>
{%- endmacro %}

{% macro dropdown_menu(name, label, placeholder, feilds) -%}

    <div class="form-group row">
        <label for="{{ name }}" class="col-lg-3 col-form-label">{{ label }}
        </label>
        <div class="col-lg-9">
            <select id="{{ name }}" class="custom-select custom-select" name="{{ name }}">
                <option selected value="NONE">{{ placeholder }}</option>
                {% for value,text in feilds -%}
                    <option value="{{ value }}">{{ text }}</option>
                {%- endfor %}

            </select>
        </div>
    </div>



{%- endmacro %}

