/*
-----------------------------------------------
Sidebar
-----------------------------------------------
*/

{% macro sidebar_start(account_id, account_type, site) -%}
    <!--suppress HtmlUnknownTarget, HtmlFormInputWithoutLabel -->
<div class="sidebar-fixed position-fixed p-2 bg-white">
    <div class="text-center">
        <a class="logo-wrapper waves-effect p-3 text-white" href='{{ site }}'>
            <h1 class="font-weight-bold mb-2 wow fadeIn" data-wow-delay="0.3s">
                MediKit
            </h1>
        </a>
    </div>

    <div class="text-center pb-4 text-white">
        {% import 'macro/common.twig' as common %}
        {{ common.profile_button(account_id, account_type, site, false) }}
    </div>

    <div>
        <a href="#" class="waves-effect white-text text-center p-3" id="drawer-close">
            <strong><i class="fas fa-times mr-3"></i>Close Drawer</strong>
        </a>
        {%- endmacro %}
        {% macro sidebar_end() -%}
    </div>

</div>
{%- endmacro %}

/*
-----------------------------------------------
Buttons in sidebar
-----------------------------------------------
*/

{% macro sidebar_button(text, id, icon, active) -%}
    {% if (active) %}
        {% set additional_classes = "active rounded amber" %}
    {% else %}
        {% set additional_classes = "light" %}
    {% endif %}
    <button id="{{ id }}"
            class="list-group-item list-group-item-action waves-effect text-dark {{ additional_classes }} sidebar-button">
        <i class="fas {{ icon }} mr-3"></i>{{ text }}</button>
{%- endmacro %}

/*
-----------------------------------------------
Navbar
-----------------------------------------------
*/

{% macro navbar() -%}
    <nav class="navbar navbar-light fixed-top bg-white">
        <div class="px-3 row navbar-brand p-2 ">
            <i class="fas fa-bars fa px-3" id="drawer-open"></i>
            <span class="font-weight-bold">Control Panel</span>
        </div>
    </nav>
{%- endmacro %}

/*
-----------------------------------------------
IFrame
-----------------------------------------------
*/

{% macro iframe_start() -%}
    <head>
        {% include("part/header.twig") %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
              rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
              rel="stylesheet">
        <style>
            body, main{
                background-color: #083dff;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.62'%3E%3Cpath fill='%230061ff' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23007eff' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%232298ff' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%235db0ff' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%238cc6ff' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%2386d5fd' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%238fe2f7' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23a4edf0' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23bff7eb' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23dbffeb' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
                background-attachment: fixed;
                background-size: cover;
            }

        </style>
        <title>MediKit IFrame</title>
    </head>
<body>

<div id="loader" class="d-flex content-justify-center" style="opacity: 0.8;">
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<main class="p-md-2">
    {%- endmacro %}

    {% macro iframe_middle() -%}
    <div class="d-md-block d-lg-none" style="height: 100px;">
    </div>
</main>

{% include "part/scripts.twig" %}
{#<script>#}
    {#// Wallpaper dynamic set#}
    {#$(document).ready(function () {#}
        {#// Card Header#}
        {#let pattern = Trianglify({#}
            {#width: 2000,#}
            {#height: 2000,#}
            {#cell_size: 150,#}
            {#x_colors: ['#D84315', '#1565C0', '#000000']#}
        {#});#}
        {#let dataUrl = pattern.canvas().toDataURL();#}
        {#$(".card-header-text").not(".ignore-triangle").css("background-image", 'url(' + dataUrl + ')');#}
    {#});#}

{#</script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
{%- endmacro %}

{% macro iframe_end() -%}
</body>
{%- endmacro %}

/*
-----------------------------------------------
IFrameCards
-----------------------------------------------
*/

{% macro card_start(title, color="primary") -%}
<div class="card my-2">
    <div class="card-header elegant-color-dark text-white">
        <span class="fa fa-briefcase-medical pr-2"></span>&nbsp;
        {{ title }}
    </div>
    <div class="card-body">
        {%- endmacro %}
        {% macro card_end() -%}
    </div>
</div>
{%- endmacro %}

/*
-----------------------------------------------
IFrame Control Page
-----------------------------------------------
*/

{% macro page_start(title, site) -%}
    <head>
        {% include("part/header.twig") %}
        <link href="{{ site }}/css/control-panel.css" rel="stylesheet">
        <style>
            html {
                overflow-y: hidden;
            }
        </style>
        <title>{{ title }}</title>
    </head>
<body class="bg-white">
{%- endmacro %}
{% macro page_end(site) -%}
{% include "part/scripts.twig" %}
<script src="{{ site }}/js/control-panel.js"></script>
</body>
{%- endmacro %}